## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Rider
.idea/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
